<?php

$title = 'Delete profile';
$url   = $this->url('user', ['action' => 'delete', 'id' => $id]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to delete profile?
</p>

<form action="<?= $url ?>" method="post">
<div class="form-group">
    <input type="submit" class="btn btn-danger" name="del" value="Yes" />
    <input type="submit" class="btn btn-success" name="del" value="No" />
</div>
</form>