<?php
$title = 'List of registered users';
$this->headTitle($title);
?>
<div class="container">
  <h1><?= $this->escapeHtml($title) ?></h1>
  <h3><?= $username ?></h3>
  <table class="table users-table">
      <tr>
          <th>Username</th>
          <th>Full name</th>
          <th>Location</th>
          <th>Bio</th>
      </tr>
      <?php foreach ($users as $user) : ?>
        <tr>
            <td><?= $this->escapeHtml($user->username) ?></td>
            <td><?= $this->escapeHtml($user->full_name) ?></td>
            <td><?= $this->escapeHtml($user->location) ?></td>
            <td><?= $this->escapeHtml($user->bio) ?></td>
        </tr>
      <?php endforeach; ?>
  </table>
</div>