<?php

$title = 'Login and have fun';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
// This provides a default CSS class and placeholder text for elements:
$username = $form->get('username');
$form->setAttribute('class', 'user-pane__form');

$username->setLabelAttributes(array('class' => 'user-pane__field-label'));
$username->setAttribute('class', 'form-control user-pane__field');
$username->setAttribute('placeholder', 'username');
$username->setAttribute('autofocus', 'autofocus');
$username->setAttribute('autocapitalize', 'off');
$username->setAttribute('autocorrect', 'off');
$username->setAttribute('required', 'required');
$username->setAttribute('data-validation-length', '4-100');
$username->setAttribute('data-validation-error-msg', 'Username must contain only latin characters and spaces. Min 4 chars length');

$password = $form->get('password');
$password->setLabelAttributes(array('class' => 'user-pane__field-label'));
$password->setAttribute('class', 'form-control user-pane__field ');
$password->setAttribute('placeholder', 'password');

$remember = $form->get('remember');
$remember->setAttribute('class', 'form-check-input remember-me-checkbox');
$remember->setAttribute('id', 'remember');
$remember->setAttribute('placeholder', 'Remember me');


// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'user-pane__submit-button btn btn-success');

$form->setAttribute('action', $this->url('user', ['action' => 'login']));
$form->prepare(); ?>
<div class="container">
    <div class="row">
      <div class="user-pane col-md-5 order-md-12">
        <?php echo $this->form()->openTag($form); ?>
        <?php // Wrap the elements in divs marked as form groups, and render the
              // label, element, and errors separately within ?>
        <div class="form-group">
            <?= $this->formLabel($username) ?>
            <?= $this->formElement($username) ?>
            <?= $this->formElementErrors()->render($username, ['class' => 'user-pane__field-errors']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($password) ?>
            <?= $this->formElement($password) ?>
            <?= $this->formElementErrors()->render($password, ['class' => 'user-pane__field-errors']) ?>
        </div>

        <div class="form-check">
            <?= $this->formElement($remember) ?>
            <?= $this->formLabel($remember) ?>
            <?= $this->formElementErrors()->render($remember, ['class' => 'user-pane__field-errors']) ?>
            <div class="user-pane__forgot-password">
                <a href="<?= $this->url('user', ['action' => 'new_password']) ?>">Forgot your password?</a>
            </div>
        </div>
        <?php
        echo $this->formSubmit($submit);
        echo $this->form()->closeTag(); 
        ?>
      </div>
        
    
      <div class="marketing col-md-7">
        <h4>HTML5 Boilerplate</h4>
        <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
        <h4>Sass</h4>
        <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
        <h4>Bootstrap</h4>
        <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        <h4>Modernizr</h4>
        <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
      </div>
        

    </div>
</div>
