<?php

$title = 'Reset password';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
// This provides a default CSS class and placeholder text for elements:
$username = $form->get('username');
$username->setLabelAttributes(array('class' => 'user-pane__field-label'));
$username->setAttribute('class', 'form-control user-pane__field');
$username->setAttribute('placeholder', 'username');
$username->setAttribute('autofocus', 'autofocus');

$captcha = $form->get('captcha');
$captcha->setLabelAttributes(array('class' => 'user-pane__field-label'));
$captcha->setAttribute('placeholder', 'Please retype text from image');
$captcha->setAttribute('class', 'form-control user-pane__field');
$captcha->setAttribute('autocomplete', 'off');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary user-pane__submit-button');

$form->setAttribute('class', 'user-pane__form');
$form->setAttribute('action', $this->url('user', ['action' => 'new_password']));
$form->prepare(); 
?>
<div class="container">
  <div class="row">
    <div class="user-pane col-md-5">
      <?php
      echo $this->form()->openTag($form);
      ?>
      <?php // Wrap the elements in divs marked as form groups, and render the
            // label, element, and errors separately within ?>
      <div class="form-group">
          <?= $this->formLabel($username) ?>
          <?= $this->formElement($username) ?>
          <?= $this->formElementErrors()->render($username, ['class' => 'help-block']) ?>
      </div>

      <div class="form-group user-pane__captcha">
          <?= $this->formLabel($captcha) ?>
          <?= $this->formElement($captcha) ?>
          <?= $this->formElementErrors()->render($captcha, ['class' => 'help-block']) ?>          
      </div>

      <?php
      echo $this->formSubmit($submit);
      echo $this->form()->closeTag();
      ?>
    </div>
      <div class="marketing col-md-7">
          <p>
            Here you can reset your password. Enter your username and we will
            send you email with a confirmation link.
          </p>
      </div>
  </div>
</div>