<?php

$title = 'New password confirmation';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
// This provides a default CSS class and placeholder text for elements:
$password = $form->get('password');
$password->setLabelAttributes(array('class' => 'user-pane__field-label'));
$password->setAttribute('class', 'form-control user-pane__field');
$password->setAttribute('required', 'required');
$password->setAttribute('autofocus', 'autofocus');
$password->setAttribute('title', 'Please provide new password');
$password->setAttribute('data-validation', 'custom');
$password->setAttribute('data-validation-regexp',
        '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\'.!@#$%^&*;:])[0-9a-zA-Z\'.!@#$%^&*;:]{8,}$');
$password->setAttribute('data-validation-error-msg',
        'Password must contain at least one lowercase letter and '
        . 'at least one capital letter and at least one of this symbols .\'!@#$%^&*;:]');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-warning');

$cancel = $form->get('cancel');
$cancel->setAttribute('class', 'btn btn-default');

$form->setAttribute('class', 'user-pane__form');
$form->setAttribute('action', $this->url('user', ['action' => 'new_password_confirmation']));
$form->prepare(); ?>

<div class="container">
  <div class="row">
    <div class="user-pane col-md-5">

      <?php
      echo $this->form()->openTag($form);
      // Wrap the elements in divs marked as form groups, and render the
      // label, element, and errors separately within
      ?>
      <div class="form-group">
          <?= $this->formLabel($password) ?>
          <?= $this->formElement($password) ?>
          <?= $this->formElementErrors()->render($password, ['class' => 'help-block']) ?>
      </div>

      <?php
      echo $this->formSubmit($submit);
      echo $this->formSubmit($cancel);

      echo $this->formHidden($form->get('token'));

      echo $this->form()->closeTag();
      ?>
    </div>
    <div class="marketing col-md-7">
        <p>
          Password reset confirmed. Please enter new password.
        </p>
    </div>
  </div>
</div>