<?php

$title = 'Edit profile';
$this->headTitle($title);

// This provides a default CSS class and placeholder text for elements:
$username = $form->get('username');
$username->setLabelAttributes(array('class' => 'user-pane__field-label'));
$username->setAttribute('class', 'form-control');
$username->setAttribute('placeholder', 'Username');
$username->setAttribute('readonly', 'readonly');

$email = $form->get('email');
$email->setLabelAttributes(array('class' => 'user-pane__field-label'));
$email->setAttribute('class', 'ajax form-control user-pane__field');
$email->setAttribute('id', 'email');
$email->setAttribute('data-validation-error-msg',
        'Email not valid. Please provide a valid email address');

$full_name = $form->get('full_name');
$full_name->setLabelAttributes(array('class' => 'user-pane__field-label'));
$full_name->setAttribute('class', 'form-control user-pane__field');
$full_name->setAttribute('data-validation', 'alphanumeric');
$full_name->setAttribute('data-validation', 'length');
$full_name->setAttribute('data-validation-length', '4-100');
$full_name->setAttribute('data-validation-allowing', ' ');
$full_name->setAttribute('data-validation-error-msg',
        'Full name must contain only latin characters and spaces, 4-100 chars length');

$location = $form->get('location');
$location->setLabelAttributes(array('class' => 'user-pane__field-label'));
$location->setAttribute('class', 'form-control user-pane__field');
$location->setAttribute('data-validation', 'alphanumeric');
$location->setAttribute('data-validation', 'length');
$location->setAttribute('data-validation-length', '4-100');
$location->setAttribute('data-validation-allowing', ' ');
$location->setAttribute('data-validation-error-msg',
        'Location must contain only latin characters and spaces, 4-100 chars length');

$bio = $form->get('bio');
$bio->setLabelAttributes(array('class' => 'user-pane__field-label'));
$bio->setAttribute('class', 'form-control user-pane__field');
$bio->setAttribute('placeholder', 'Bio');
$bio->setAttribute('data-validation', 'alphanumeric');
$bio->setAttribute('data-validation', 'length');
$bio->setAttribute('data-validation-length', '4-100');
$bio->setAttribute('data-validation-allowing', ' ');
$bio->setAttribute('data-validation-error-msg',
        'Bio must contain only latin characters and spaces, 4-100 chars length');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-success');



$form->setAttribute('class', 'user-pane__form');
$form->setAttribute('action', $this->url('user', [
      'action' => 'profile',
    ]));
$form->prepare(); ?>

<div class="container">
    <h1><?= $this->escapeHtml($title) ?></h1>
    <div class="row">
      <div class="user-pane col-md-5 order-md-12">
          
        <?php
        echo $this->form()->openTag($form);
        ?>
        <?php // Wrap the elements in divs marked as form groups, and render the
              // label, element, and errors separately within ?>
        <div class="form-group">
            <?= $this->formLabel($username) ?>
            <?= $this->formElement($username) ?>
            <?= $this->formElementErrors()->render($username, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($email) ?>
            <?= $this->formElement($email) ?>
            <?= $this->formElementErrors()->render($email, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($full_name) ?>
            <?= $this->formElement($full_name) ?>
            <?= $this->formElementErrors()->render($full_name, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($location) ?>
            <?= $this->formElement($location) ?>
            <?= $this->formElementErrors()->render($location, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($bio) ?>
            <?= $this->formElement($bio) ?>
            <?= $this->formElementErrors()->render($bio, ['class' => 'help-block']) ?>
        </div>

        <?php echo $this->formSubmit($submit); ?>
          <a href="<?= $this->url('user', ['action' => 'delete']) ?>"
            class="btn btn-danger user-pane__btn_delete-profile">
             Delete profile
          </a>
        
        <?= $this->form()->closeTag() ?>
      </div>
      <div class="marketing col-md-7">
        <h4>HTML5 Boilerplate</h4>
        <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
        <h4>Sass</h4>
        <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
        <h4>Bootstrap</h4>
        <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        <h4>Modernizr</h4>
        <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
      </div>
    </div>
</div>