<?php

$title = 'Register new user';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
// This provides a default CSS class and placeholder text for elements:
$username = $form->get('username');
$username->setLabelAttributes(array('class' => 'user-pane__field-label'));
$username->setAttribute('class', 'ajax form-control user-pane__field');
$username->setAttribute('id', 'username');
$username->setAttribute('title', 'Please provide your username');
$username->setAttribute('autofocus', 'autofocus');
$username->setAttribute('autocapitalize', 'off');
$username->setAttribute('autocorrect', 'off');
$username->setAttribute('required', 'required');
$username->setAttribute('data-validation', 'required length');
$username->setAttribute('data-validation-length', '4-100');
$username->setAttribute('data-validation-error-msg',
        'Username must contain only latin characters and spaces. Min 4 chars length');

$password = $form->get('password');
$password->setLabelAttributes(array('class' => 'user-pane__field-label'));
$password->setAttribute('class', 'form-control user-pane__field');
$password->setAttribute('required', 'required');
$password->setAttribute('title', 'Please provide a valid password');
$password->setAttribute('data-validation', 'custom');
$password->setAttribute('data-validation-regexp',
        '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\'.!@#$%^&*;:])[0-9a-zA-Z\'.!@#$%^&*;:]{8,}$');
$password->setAttribute('data-validation-error-msg',
        'Password must contain at least one: lowercase letter, '
        . 'capital letter, digits and symbols .\'!@#$%^&*;:');


$email = $form->get('email');
$email->setLabelAttributes(array('class' => 'user-pane__field-label'));
$email->setAttribute('class', 'ajax form-control user-pane__field');
$email->setAttribute('id', 'email');
$email->setAttribute('name', 'email_confirmation');
$email->setAttribute('title', 'Please provide a valid email address');
$email->setAttribute('data-validation', 'email');
$email->setAttribute('data-validation-error-msg',
        'Email not valid. Please provide a valid email address');

$full_name = $form->get('full_name');
$full_name->setLabelAttributes(array('class' => 'user-pane__field-label'));
$full_name->setAttribute('class', 'form-control user-pane__field');
$full_name->setAttribute('title', 'Please provide your full name');
$full_name->setAttribute('data-validation', 'alphanumeric'); 
$full_name->setAttribute('data-validation-allowing', ' ');
$full_name->setAttribute('minlength', '4');
$full_name->setAttribute('maxlength', '100');
$full_name->setAttribute('data-validation-error-msg',
        'Full name must contain only latin characters and spaces. Min 4 chars length');

$captcha = $form->get('captcha');
$captcha->setLabelAttributes(array('class' => 'user-pane__field-label'));
$captcha->setAttribute('placeholder', 'Please retype text from image');
$captcha->setAttribute('class', 'form-control user-pane__field');
$captcha->setAttribute('autocomplete', 'off');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'user-pane__submit-button btn btn-success');

$form->setAttribute('class', 'user-pane__form');
$form->setAttribute('action', $this->url('user', ['action' => 'register']));
$form->prepare();
?>
<div class="container">
    <div class="row">
      <div class="user-pane col-md-5 order-md-12">

        <?php
        echo $this->form()->openTag($form);
        ?>
        <?php // Wrap the elements in divs marked as form groups, and render the
              // label, element, and errors separately within ?>
        <div class="form-group">
            <?= $this->formLabel($username) ?>
            <?= $this->formElement($username) ?>
            <?= $this->formElementErrors()->render($username,
                    ['class' => 'help-block form-error user-pane__field-errors']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($password) ?>
            <?= $this->formElement($password)?>
            <?= $this->formElementErrors()->render($password,
                    ['class' => 'help-block form-error user-pane__field-errors']) ?>
        </div>
        <p class="text-secondary">Minimum length is 8 characters</p>
        <div class="form-group">
            <?= $this->formLabel($email) ?>
            <?= $this->formElement($email) ?>
            <?= $this->formElementErrors()->render($email,
                    ['class' => 'help-block form-error user-pane__field-errors']) ?>
        </div>

        <div class="form-group">
          <label class="user-pane__field-label" for="new_user_email_confirmation">Email confirmation</label>
          <input id="new_user_email_confirmation" class="user-pane__field form-control"
                 required="required" title="Please retype the email address"
                 type="email" value="" name="email" data-validation="confirmation"
                 data-validation-error-msg="Please confirm your email.">
        </div>

        <div class="form-group">
            <?= $this->formLabel($full_name) ?>
            <?= $this->formElement($full_name) ?>
            <?= $this->formElementErrors()->render($full_name,
                    ['class' => 'help-block form-error user-pane__field-errors']) ?>
        </div>

        <div class="form-group user-pane__captcha">
          <?= $this->formLabel($captcha) ?>
          <?= $this->formElement($captcha) ?>
          <?= $this->formElementErrors()->render($captcha, ['class' => 'help-block']) ?>          
        </div>
        
        <div class="form-check">
          <input class="form-check-input" id="terms_confirmation" type="checkbox" name="terms_opt_in" value="1" required="required">
          <label class="form-check-label" for="terms_confirmation" data-validation-error-msg="You have to agree to our terms">I accept the <a target="_blank" href="#">Terms of Service and Privacy Policy</a>
          </label>
        </div>
        


        <?php
        echo $this->formSubmit($submit);
      //  echo $this->formHidden($form->get('id'));
        echo $this->form()->closeTag();
        ?>
      </div>
      <div class="marketing col-md-7">
        <h4>HTML5 Boilerplate</h4>
        <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
        <h4>Sass</h4>
        <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
        <h4>Bootstrap</h4>
        <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        <h4>Modernizr</h4>
        <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
      </div>
    </div>
</div>