<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Authentificator')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'])
            ->prependStylesheet($this->basePath('styles/main.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('scripts/vendor/modernizr.js'))
        ?>
    </head>
    <body>
        <!--[if IE]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">

            <nav class="navbar navbar-expand-md navbar-light bg-light rounded sticky-top">
                <a class="navbar-brand" href="<?= $this->url('home') ?>">Authentificator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="nav-link active" href="<?= $this->url('home') ?>">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('user') ?>">Users</a>
                        </li>                        
                        <?php if (!$this->username) { ?>
                          <li class="nav-item">
                              <a class="nav-link" href="<?= $this->url('user', ['action' => 'register']) ?>">Register</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="<?= $this->url('user', ['action' => 'login']) ?>">Login</a>
                          </li>
                        <?php } else {
                          ?>

                          <li class="nav-item">
                              <a class="nav-link" href="<?= $this->url('user', ['action' => 'profile']) ?>">Profile</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="<?= $this->url('user', ['action' => 'logout']) ?>">Logout</a>
                          </li>
                        <?php } ?>
                    </ul>
                    <!--<h3 class="text-muted">Authentificator</h3>-->
                    <?php if ($this->username) { ?>
                    <div class="header__logged-status">
                          Logged in as: <?= $this->username ?>
                      </div>
                    <?php }; ?>
                </div>
            </nav>

        <?php 
            $flash = $this->flashMessenger();
            $flash->setMessageOpenFormat('<div%s>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    <ul><li>')
                ->setMessageSeparatorString('</li><li>')
                ->setMessageCloseString('</li></ul></div>');
        echo $flash->render('error', array('alert', 'alert-dismissible', 'alert-danger'));
        echo $flash->render('info', array('alert', 'alert-dismissible', 'alert-info'));
        echo $flash->render('default', array('alert', 'alert-dismissible', 'alert-warning'));
        echo $flash->render('warning', array('alert', 'alert-dismissible', 'alert-warning'));
        echo $flash->render('success', array('alert', 'alert-dismissible', 'alert-success'));
        ?>
            <?= $this->content ?>
            <hr>
            <footer>
                <p>&copy; <?= date('Y') ?> Developed by Rodion Riabinin</p>
            </footer>
        </div>
        <?= $this->inlineScript()
                ->prependFile($this->basePath('/scripts/main.js'))
                ->prependFile($this->basePath('/scripts/validator.js'))
                ->prependFile($this->basePath('/scripts/vendor.js'))
                //->prependFile('//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')
                //->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

                ?>
    </body>
</html>
