<?php
echo '';
?>
<div class="jumbotron">
    <h1>Welcome to Authentificator</h1>

    <p>
        This application implements the basic login and profile editing features.
        Uses database to store user data.
    </p>
    <p><a class="btn btn-success btn-lg" href="<?= $this->url('user', 
            ['action' => 'register']) ?>" target="_blank">Start</a></p>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Back end</h3>
            </div>
            <div class="panel-body">
                <p>
                    Git repo:
                    <a href="https://gitlab.com/dambadorje/authentificator" target="_blank">
                        GitLab
                    </a>
                </p>
                <ul>
                    <li>
                        <h6>PHP</h6>
                        <p>PHP is a popular general-purpose scripting language
                            that is especially suited to web development.
                            <a href="http://php.net/">Official&nbsp;site</a>
                        </p>
                    </li>
                    <li>
                        <h6>MySQL</h6>
                        <p>
                            MySQL is the world's most popular open source
                            database.
                            <a href="https://www.mysql.com/">Official&nbsp;site</a>
                        </p>
                    </li>
                    <li>
                        <h6>Zend Framework</h6>
                        <p>
                            Professional PHP packages ready for PHP 7.
                            Focused on Simplicity, Reusability, and Performance.
                            <a href="https://zendframework.com/">Official&nbsp;site</a>
                        </p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Front end</h3>
            </div>
            <div class="panel-body">
                <p>
                    Git repo: 
                    <a href="https://gitlab.com/dambadorje/auth-frontend" target="_blank">
                        GitLab
                    </a>
                </p>
                <ul>
                    <li>
                        <h6>NPM</h6>
                    </li>
                    <li>
                        <h6>Gulp</h6>
                    </li>
                    <li>
                        <h6>Web app generator</h6>
                        <p>
                            Include HTML5 boilerplate, JQuery and gulpfile to
                            build apps.
                            <a href="https://github.com/yeoman/generator-webapp">
                                Github&nbsp;repo
                            </a>
                        </p>
                    </li>
                    <li>
                        <h6>jQuery Form Validator</h6>
                        <p>
                        <p>
                            Is a jQuery plugin that makes it easy to validate user input.
                            <a href="https://github.com/victorjonsson/jQuery-Form-Validator">
                                Github&nbsp;repo
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
